* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  display: flex;
  margin-top: 50px;
  justify-content: center;
  background-color: #fffcff;
}
button {
  margin-right: 2.5px;
  margin-left: 2.5px;
  width: 75px;
  cursor: pointer;
  box-shadow: 0px 0px 2px gray;
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
}

#header {
  height: 70px;
  padding: 10px;
  color: #F50057;
  font-size: 26px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header i {
  cursor: pointer;
}
#container {
  width: 463px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  border-top-left-radius: 17px;
  border-bottom-right-radius: 17px;
}
#weekdays {
  width: 100%;
  display: flex;
  background-color: #f50057;
  color: #ffffff;
}
#weekdays div {
  width: 66px;
  text-align: center;
  padding: 9px;
  font-weight: bold;
}
#calendar {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.day {
  width: 66px;
  padding: 10px;
  height: 70px;
  cursor: pointer;
  box-sizing: border-box;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.day:hover {
  background-color: #E5E5E5;
  cursor: pointer;
  /* opacity: 0.7; */
  transition: 2s;
}

.day + .currentDay {
  background-color: #E5E5E5;
}
.event {
  font-size: 10px;
  padding: 3px;
  background-color: #F50057;
  color: white;
  border-radius: 5px;
  max-height: 55px;
  overflow: hidden;
}
.padding {
  cursor: default !important;
  background-color: #fffcff !important;
  box-shadow: none !important;
}
#newEventModal,
#deleteEventModal {
  z-index: 20;
  padding: 25px;
  background-color: #ffffff;
  box-shadow: 0px 0px 3px black;
  border-top-left-radius: 17px;
  border-bottom-right-radius: 17px;
  width: 350px;
  top: 100px;
  left: calc(50% - 175px);
  position: absolute;
}
#newEventModal h2 {
  margin-bottom: 26px;
}
#eventTitleInput {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 25px;
  border-radius: 3px;
  outline: none;
  border: none;
  box-shadow: 0px 0px 3px gray;
}
#eventTitleInput.error {
  border: 2px solid red;
}
#cancelButton,
#deleteButton {
  background-color: #f50057;
}
#saveButton,
#closeButton {
  background-color: #f50057;
}
#eventText {
  font-size: 14px;
  margin-bottom: 20px;
  margin-top: 20px;
}
#modalBackDrop {
  top: 0px;
  left: 0px;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
}
